<div class="section">
    <div class="photo">
        <img src="./assets/img/avatar.jpg">
    </div>
    <div class="block pt40">
        <div class="title">Contact</div>
        <span class="hr"></span>
        <p class="row regular">
            lane Sikorskogo 4, Zhitomir
        </p>
        <p class="row">
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="call">call</mat-icon>
            </span>
            +38 099 326 09 05
        </p>
        <p class="row">
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="mail">mail</mat-icon>
            </span>
            anna.golov4enko@gmail.com
        </p>

    </div>
    <div class="block pt40">
        <div class="title">Sosial</div>
        <span class="hr"></span>
        <a href="https://www.facebook.com/HannaKondr">
            <p class="row">
                <span class="icon">
                    <mat-icon aria-hidden="false" aria-label="facebook"> facebook </mat-icon>
                </span>
                HannaKondr
            </p>
        </a>
       <a href="https://www.linkedin.com/in/hanna-kondr/">
            <p class="row pb-1">
                <img class="pr-1" src="./assets/img/in.png" alt="">
                hanna-kondr
            </p>
       </a>
       <a href="https://github.com/AnnKondr">
            <p class="row">
                <img class="pr-1" src="./assets/img/git.png" alt="">
                AnnKondr
            </p>
       </a>

    </div>
</div>