<div class="section">
    <div class="photo">
        <img src="./assets/img/avatar.jpg">
    </div>
    <div class="block pt40">
        <div class="title">Contact</div>
        <span class="hr"></span>
        <p class="row regular">
           lane Sikorskogo 4, Zhitomir
        </p> 
        <p class="row">
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="call">call</mat-icon>
            </span>
             +38 099 326 09 05
        </p>
        <p class="row">
            <span class="icon">
                <mat-icon aria-hidden="false" aria-label="call">mail</mat-icon>
            </span>
             anna.golov4enko@gmail.com
        </p>

    </div>
</div>